@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins',
    sans-serif;
  background: #313841;
  /* background: -webkit-linear-gradient(to left, #010006, #010006); */
}


.container {
  max-width: 1400px;
  padding: 20px 24px;
  margin: auto;
  width: 100%;
  overflow-x: hidden;
}



.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 66px;
  padding: 60px 30px;
  justify-content: center;
}


input.search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 0 12px;
  color: #dadada !important;
  max-width: 400px;
  background: #414f57;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #414f57;
  max-width: 300px;
  width: 100%;
  border-radius: 50px;
  min-height: 35px;
  padding: 0 12px;
  height: 45px;
  border: 1px solid transparent;
}

input.search-form:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #dadada;
}

input.search-form:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input.search-form:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input.search-form:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}



/* .heading {
  display: flex;
  justify-content: space-around;
} */


.movie-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 24px;
  grid-gap: 15px;
  justify-content: center;
  transition: 0.9s ease;
  box-shadow: 0px 7px 10px hsla(0, 0%, 0%, 0.5);
  position: relative;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.4);
  cursor: pointer;
  border-radius: 10px;
  min-width: 324px;
}

.movie-card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 1px solid #cccccc;
  background-color: white;
  color: #000;
  transform: scale(1.1);
}

.movie-card:hover .add-fav {
  opacity: 1;
}

.Heading {
  color: #fff;
}



.add-fav {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 5px;
  border: 1px solid #000;
  width: 200px;
  outline: none;
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: none;
  font-size: 12px;
  min-height: 35px;
}


.add-fav:hover {
  background: #080808;
  color: #fff;
  border: 1px solid red;
}

.movies-favourites {
  text-align: center;
}





.area {

  width: 100%;
  height: 100%;


}

.circles {
  position: absolute;
  top: 108px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}









/* Slider CSS */

.carousel .slide img {
  border-radius: 17px;
}